# IntelliJ project files
.idea
*.iml
out
gen

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pth

/data
/1_preprocessing/raw_dataset
/1_preprocessing/raw_dataset (copy)
/1_preprocessing/preprocessed
/1_preprocessing/train_test_split
/save