[submodule "common/security/cryptolib"]
	path = common/security/cryptolib
	url = https://github.com/tiiuae/cryptolib.git
	ignore = dirty
[submodule "common/core/os/ubuntu/wpa_supplicant"]
	path = common/core/os/ubuntu/wpa_supplicant
	url = https://github.com/tiiuae/wpa.git
[submodule "common/core/os/openwrt"]
	path = common/core/os/openwrt
	url = git@github.com:tiiuae/openwrt.git
