[Unit]
Description= DHCP Client on %I
Wants=network.target
Before=network.target
After=wpa_supplicant@%i.service

[Service]
Type=idle
ExecStart=/sbin/dhclient %I
Restart=always

[Install]
WantedBy=multi-user.target
