[Unit]
Description= Gateway Service on %I

[Service]
Type=idle
ExecStart=/usr/local/bin/mesh-gw.sh %I
Restart=always

[Install]
WantedBy=multi-user.target
