[Unit]
Description= Mesh Service on %I
Wants=network.target
Before=network.target

[Service]
Type=idle
EnvironmentFile=/usr/local/etc/mesh.conf
ExecStart=/usr/local/bin/mesh-ibss.sh $MODE $IP $MASK $MAC $KEY $ESSID $FREQ $TXPOWER $COUNTRY %i $PHY
Restart=always

[Install]
WantedBy=multi-user.target
