<launch>
  <node name="mesh_com" pkg="mesh_com" exec="mesh_subscriber" namespace='$(env DRONE_DEVICE_ID)'>
  </node>
  <node name="mesh_com_pub" pkg="mesh_com" exec="mesh_publisher" namespace='$(env DRONE_DEVICE_ID)'>
  </node>
  <node name="__mesh_exec" pkg="mesh_com" exec="mesh_executor" namespace='$(env DRONE_DEVICE_ID)'>
  </node>
</launch>
