# kernel bugs force MACSEC_OVERHEAD=24 in create_macscbub_interface() but should still be ok
export MACSEC_OVERHEAD=16

# needs more testing, an overhead of 32 might even occur if batman-adv uses 4 address mode
export BATMAN_OVERHEAD=48

export HOPEFULLY1500=1372
export SCN='/sys/class/net'